<div class="container py-5" *ngIf="character !=null">
    <div class="row">
        <div class="col-md-4"><img [src]="character.image" alt="" class="img-fluid rounded"></div>
        <div class="col-md-8">
            <div class="row d-flex flex-wrap">
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mTextMainColor">{{character.name}}</h5>
                            <span><span class="mTextMainColor">Status:</span> {{character.status}}</span><br />
                            <span><span class="mTextMainColor">Origin:</span> {{character.originName}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" *ngIf="episode != null">
                            <strong class="mTextMainColor">First episode</strong><br/>
                            <span><span class="mTextMainColor">Name:</span> {{episode.name}}</span><br />
                            <span><span class="mTextMainColor">Air Date:</span> {{episode.airDate}}</span><br />
                            <span><span class="mTextMainColor">episode:</span> {{episode.episode}}</span><br />
                        </div>
                        <div class="card-body" *ngElse>Sin episodio</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card h-100 mt-3 mt-md-0">
                        <div class="card-body" *ngIf="location != null">
                            <strong class="mTextMainColor">Last location</strong><br/>
                            <span><span class="mTextMainColor">Name:</span> {{location.name}}</span><br />
                            <span><span class="mTextMainColor">Type:</span> {{location.type}}</span><br />
                            <span><span class="mTextMainColor">Dimension:</span> {{location.dimension}}</span><br />
                        </div>
                        <div class="card-body" *ngElse>Sin ubicación</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngElse>Loading...</div>