@media screen and (min-width: 768px) {
    .mTextCard{
        display: none;
    }
    .mCharacterCard:hover .mTextCard{
        display: flex;
        cursor: pointer;
        background-color: #ffffffaa;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
}

a:hover{
    text-decoration: none;
    color: currentColor;
}

.mCharacterCard .mTextCard{
    font-weight: lighter;
}

.mUrlLocation{
    font-weight: bold;
    text-decoration: underline;
}