<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4 class="mb-0 mTextMainColor">Rick And Morty Characteres</h4>
            <p class="mb-0">Prueba tecnica para la empresa Juju</p>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <input placeholder="Buscar..." class="form-control"/>
        </div>
    </div>
    <!-- content -->
    <div class="row mt-3">
        <app-character-card *ngFor="let character of characters" [character]="character" class=" col-12 col-md-4 col-lg-3"></app-character-card>
    </div>
    <!-- end content -->
    <!-- paginator -->
    <!-- end paginator -->
    
</div>
