/* You can add global styles to this file, and also import other style files */
:root{
    --main-color: #1dac99;
}
.mProfilePhoto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: currentColor;
}
a:hover{
    cursor: pointer;
}
.mBgMain{
    background-color: var(--main-color);
    color: white;
}
.mTextMainColor{
    color: var(--main-color);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
